body {
    position: relative;
    margin: 0;    
    font-size: 70%;
    text-align: center; 
    background: white;
    height: 100%;
    overflow: auto;
    
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

#header{
    background: white;
    width: 100%;
    height: 8rem;
    top:0;
    position: fixed;
    z-index:10;
}

.logotype{
    float: left;
}

.user-name{
    margin-left: 14%;  
    border: 1px solid  black;
    font-size: 19px;
    padding: 1.3rem;
    
}
.add-edit{
    margin-left: 20%;
    float: center;
    line-height: 10rem;
}


#filtering area{
    position: fixed;
   width: 100%;
}

.main {
    margin-top: 2rem;
    width: 70%;
    z-index: 3;
    margin-bottom: 9.2rem;
}

.filter{    
    height:50px;
    width:15%;    
    float: left;
    font-size: 1.5rem;
    display: inline-block;
}

#buttons{
    display: inline-block;
    float: left;
    margin-top: 0.7rem;
    width: 43%;   
    font-size: 1.3rem;
}

.posts{
    border: 1px solid black;
    float: left;
    width: 95%;
    margin-left: 20%;
    margin-right: 30%;
    margin-top: 2%;
    margin-bottom: 0.3%;
}

.content {
    background-color: white;   
    height: 370px;
    
   
}
.content-photo{    
    float:left; 
    margin: 0 7px 0px 0;
}

.author-name{    
    margin-left: 1rem;
    font-weight: 600;
    font-size: 1.1rem;
    display: block;
    margin: 0 auto;
}

.hashtags{
    text-align: justify;
    margin-left: 1rem;
    font-weight: 500;
    font-size: 1.1rem;
    margin: 0 auto;  
   
}

.description-post{  
    padding-top: 10px;  
    padding-right: 5px;
    font-size: 1.1rem;
    text-align: justify;   
    
}

#additing-buttons{
    margin-top: 2%;
    float: right;
    display: inline-block;    
}

.edit-button{
    height:50px;
    width:70px;         
}

.remove-button{
    height:50px;
    width:70px;  
}

.like{
    margin-top: 2.5%;
    float: left;
   
}

.post-date{
    margin-top: 0.5rem;
    float: left;
 
}

.button-more{
    float: right; 
    margin-bottom: 5%;
}

.more{
    height:30px;
    width:50px;  
}


#footer {
    clear: both; 
}

#footer-nav {
  
}

.footer-logo{
    float: left;
}

.footer-date{
    margin-top: 1.7%;
    display: inline-block;
    float: left;
    bottom: 0;
    
}

.footer-name{
    float: right;
    margin-right: 1%;
    margin-bottom: 1%;
}


img{
    max-width: 100%;
    max-height: auto;
}

@media screen and (max-width: 640px) {
    header {
        width: 100%;
        left: 0;
    }
    
    #navigation{
        height: 30%;
        width: 100%;
    }
    .logotype{
        width: 33.333%
    }
    .user-name{
        width: 33.3%;
    }
    .add-edit{
        16.65%;
    }
    .login{
        16.65%;
    }
    #filterin-area{
        width: 100%;
    }

}